<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>省，市，县三级联动</title>
	<script src="jquery.min.js"></script>
	<script src="json2.js"></script>
	<script>

	//$.get
	//$.post
	function getCities( provinceId ) {
		$.get( "ajax.php", { province_id : provinceId }, function( data ){
			var str = '';
			var obj = JSON.parse( data );
			for ( var i in obj ) {
				str += "<option value='" + obj[i].region_id + "'>" + obj[i].region_name + "</option>";
			}	
			$("#city").empty().append( str );
			$("#city").triggerHandler( "change" );
		} );
	}
	function getDistric( cityId ) {
		// $.get( "ajax.php", { city_id : cityId }, function( data ){
		// 	var str = '';
		// 	var obj = JSON.parse( data );
		// 	for ( var i in obj ) {
		// 		str += "<option value='" + obj[i].region_id + "'>" + obj[i].region_name + "</option>";
		// 	}	
		// 	$("#district").empty().append( str );
		// } );
		$.post( "ajax.php", { city_id : cityId }, function( data ){
			var str = '';
			var obj = JSON.parse( data );
			for ( var i in obj ) {
				str += "<option value='" + obj[i].region_id + "'>" + obj[i].region_name + "</option>";
			}	
			$("#district").empty().append( str );
		} );
	}
	$(function(){
		$("#province").change(function(){
			var index = $("#province option:selected").val();
			getCities( index );
		});
		$("#city").change(function(){
			var index = $("#city option:selected").val();
			getDistric( index );
		});
	});
	</script>
</head>
<body>
	
	<select name="province" id="province">
		{foreach $provinceList as $k =>$v }
		<option value="{$v.region_id}">{$v.region_name}</option>	
		{/foreach}
	</select>	
	<select name="city" id="city">
		<option value="0">请选择市</option>
	</select>
	<select name="district" id="district">
		<option value="0">请选择区</option>
	</select>
</body>
</html>